<?xml version="1.0"?>
<!--
/**
 * Aero
 *
 * Add augmented reality to Magento using Adobe Aero and Apple ArKit.
 *
 * @package ImaginationMedia\Aero
 * @author Igor Ludgero Miura <igor@imaginationmedia.com>
 * @copyright Copyright (c) 2019 Imagination Media (https://www.imaginationmedia.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ImaginationMedia\Aero\Api\Data\ArInterface" type="ImaginationMedia\Aero\Model\AugmentedReality" />
    <preference for="ImaginationMedia\Aero\Api\ArRepositoryInterface" type="ImaginationMedia\Aero\Model\AugmentedRealityRepository" />
</config>